#boxes {
  width: 80%;
  margin: auto;
  text-align: center;
}

#btns {
  padding: 20px;
  background-color: #edeeef;
  margin-bottom: 20px;
}

#btns button {
  background-color: white;
  padding: 5px 10px;
  border: 0;
}

#btns .fa {
  font-size: 30px;
}

#btns .fa-play-circle {
  color: #5ced0e;
}

#btns .fa-pause-circle {
  color: #f73816;
}

.box {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 4px;
  display: inline-block;
  /* border-radius: 50%; */
}

.red {
  background-color: #d85096;
}
.blue {
  background-color: #0a7fad;
}
.green {
  background-color: #368742;
}
.yellow {
  background-color: #edf41a;
}
.pink {
  background-color: #e2167c;
}
.purple {
  background-color: #af16e2;
}
.orange {
  background-color: #ed7310;
}
.lightblue {
  background-color: #37d0ef;
}
